@media only screen  and (max-width: 576px) {
    body {
        overflow-x: hidden; 
      }


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
.container
{display: flex;
    flex-direction: column;
    
}
      .sitenav {
        display: flex;
        flex-direction: column;
      }
     .intro-des h5 
     {

       
      display: block;
    }

    .main-body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5px;
    }
    .intro-des
    {
        align-items: center;
        margin-left: 15px;
    }
    .my-pic IMG
    {
        align-items: center;
        margin-left: 0px;
        margin-top: 30PX;
        width: 100%;
        height: 100%;
        
    }
    .intro-button 
    
    {
    
         margin-top: 20px;
        
        
    }
    .main-body-end
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin :0px 0px;
    }
    .another-intro
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin :0px 0px;
        margin-bottom: 15px;

     }
     .experience-stat
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin :0px 0px;
            margin-bottom: 15px;
            margin-top: 20px;
        }
        .experience-right
        {
         
            display: none;
        }
         .ux-case-study1
        {
            display: flex;
            flex-direction: column;
            align-items: center;
      
        
        }
        .ux-case-study1 img {
            width: min-content; 
             height: auto; 
             object-fit: contain; 
            border-radius: 30px; 
        
          
        } 
        .imajes 
        {
            
            margin: 0px 0px;
            width: fit-content;
            overflow: hidden;
        }
        .case-study
        {
            display: none;
        }
        .contact
        {
            align-items: center;
        }
        .any-projects
        {
            margin: 0px 0px;
            padding: 0px 0px;   
        }
        .part1
        { padding-top: 15px;
        padding-bottom: 30px;}

        .any-projects-2
        {
            display: flex;
            flex-direction: column;
            
            margin: 0px 0px;
            padding: 0px 0px;
            gap: 20px;
        }
        .part4 H4
        {
            padding-bottom: 20PX;
            padding-TOP: 20PX;


    }
       .submit-button  {
            margin-top: 30px; 
            padding: 10px 20px; 
            align-items: center;
            
        }
    
        .footer
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 0px;
            padding: 0px 0px;
        }
        .social-icons
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0px 0px;
            padding: 0px 0px;
            gap: 20px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .final
        {
            display: none;
        }
        .social-link
        {
            color: chocolate;
        }
    
}
  
  
    